github "ReactiveX/RxSwift" ~> 5.0

github "realm/realm-cocoa" ~> 4.0.0
github "RxSwiftCommunity/RxRealm" ~> 2.0

github "bustoutsolutions/siesta" ~> 1.5.1

github "sparkle-project/Sparkle" ~> 1.23.0

github "insidegui/ChromeCastCore" ~> 0.2.1
github "insidegui/CloudKitCodable" ~> 0.1.3
