github "SwiftyJSON/SwiftyJSON" ~> 4.0

github "ReactiveX/RxSwift" ~> 4.0

github "realm/realm-cocoa" ~> 3.0
github "RxSwiftCommunity/RxRealm" ~> 0.7

github "bustoutsolutions/siesta" ~> 1.0

github "sparkle-project/Sparkle" ~> 1.17

github "insidegui/ChromeCastCore" ~> 0.2.1